[Unit]
Description=PhoneHome app
PartOf=phonehome.service
After=setup.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/app.pid %t/app.ctr-id
ExecStart=/usr/bin/podman run \
    --pod phonehome \
    --detach \
    --conmon-pidfile %t/app.pid \
    --cidfile %t/app.ctr-id \
    --cgroups no-conmon \
    --replace \
    --name %N \
    --volume bootstrap:/var/www/html/bootstrap \
    --volume storage:/var/www/html/storage \
    --env-file %S/state/environment \
    ${PHONEHOME_SERVER_APP_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/app.ctr-id
PIDFile=%t/app.pid
Type=forking

[Install]
WantedBy=default.target
