[Unit]
Description=PhoneHome database
PartOf=phonehome.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/database.pid %t/database.ctr-id
ExecStart=/usr/bin/podman run \
    --pod phonehome \
    --detach \
    --conmon-pidfile %t/database.pid \
    --cidfile %t/database.ctr-id \
    --cgroups no-conmon \
    --volume database:/var/lib/mysql \
    --replace \
    --name %N \
    --env MARIADB_RANDOM_ROOT_PASSWORD=true \
    --env MYSQL_DATABASE=phonehome \
    --env MYSQL_USER=phonehome \
    --env MYSQL_PASSWORD=phonehome \
    ${MARIADB_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/database.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/database.ctr-id
PIDFile=%t/database.pid
Type=forking

[Install]
WantedBy=default.target
