[Unit]
Description=PhoneHome redis
PartOf=phonehome.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/redis.pid %t/redis.ctr-id
ExecStart=/usr/bin/podman run \
    --pod phonehome \
    --detach \
    --conmon-pidfile %t/redis.pid \
    --cidfile %t/redis.ctr-id \
    --cgroups no-conmon \
    --replace \
    --name %N \
    --volume redis:/data \
    ${REDIS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/redis.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/redis.ctr-id
PIDFile=%t/redis.pid
Type=forking

[Install]
WantedBy=default.target
