[Unit]
Description=PhoneHome scheduler
PartOf=phonehome.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/scheduler.pid %t/scheduler.ctr-id
ExecStartPre=%S/bin/conf_to_env
ExecStart=/usr/bin/podman run \
    --pod phonehome \
    --detach \
    --conmon-pidfile %t/scheduler.pid \
    --cidfile %t/scheduler.ctr-id \
    --cgroups no-conmon \
    --replace \
    --name %N \
    --volume bootstrap:/var/www/html/bootstrap \
    --volume storage:/var/www/html/storage \
    --env-file phonehome-environment \
    --env FPM_URL=app \
    --env FPM_PORT=9000 \
    ${PHONEHOME_SERVER_APP_IMAGE} \
    crond -f -l 2
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/scheduler.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/scheduler.ctr-id
PIDFile=%t/scheduler.pid
Type=forking

[Install]
WantedBy=default.target
