includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 8
    excludePaths:
        - vendor/
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
