name: phonehome-prod
services:
    database:
        image: postgres:14.20-alpine
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "phonehome", "-U", "phonehome" ]
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: $DB_DATABASE
            POSTGRES_USER: $DB_USERNAME
            POSTGRES_PASSWORD: $DB_PASSWORD
    grafana:
        image: ghcr.io/nethserver/phonehome-server-grafana:latest
        environment:
            GF_INSTANCE_NAME: phonehome
            GF_SECURITY_ADMIN_PASSWORD: phonehome
            PHONEHOME_HOST: $DB_HOST
            PHONEHOME_PORT: $DB_PORT
            PHONEHOME_DATABASE: $DB_DATABASE
            PHONEHOME_USERNAME: $GRAFANA_USERNAME
            PHONEHOME_PASSWORD: $GRAFANA_PASSWORD
    app:
        image: ghcr.io/nethserver/phonehome-server-app:latest
        volumes:
            - bootstrap:/var/www/html/bootstrap
            - storage:/var/www/html/storage
        env_file:
            - .env
    scheduler:
        extends:
            service: app
        environment:
            FPM_URL: app
            FPM_PORT: 9000
        command: [ "crond", "-f", "-l", "2" ]
    web:
        image: ghcr.io/nethserver/phonehome-server-web:latest
        healthcheck:
            test: [ "CMD", "curl", "--fail", "--silent", "--output", "/dev/null", "http://localhost/status" ]
        environment:
            FPM_URL: app
            FPM_PORT: 9000

volumes:
    database: { }
    bootstrap: { }
    storage: { }
