name: Testing
on:
  push:
    branches:
      - "renovate/**"
  pull_request:
    branches-ignore:
      - "renovate/**"
  workflow_call:

permissions:
  contents: read
  packages: read

jobs:
  test-app-image:
    name: Test app image
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create new buildx builder
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Run testing
        run: |
          cp .env.example .env
          docker buildx bake testing
          docker compose run testing
